/* MAIN/SMALL VIEW */
body {
  max-width: 1311px;
  min-width: 320px;
  margin: auto;
}

header {
  background-color: #f72210;
  margin-right: 0;
  margin-left: 0;
  font-family: 'Roboto Condensed', sans-serif;
}

.header-top {
  margin-top: 35px;
  margin-bottom: 10px;
}

#date {
  font-weight: 400;
  font-size: 16px;
}

.brand img {
  height: 60px;
  margin: 10px auto 0;
}

header .lk-2 {
  font-weight: bolder;
  font-size: 14pt;
  padding-right: 15px;
}

header .lk-2:hover {
  text-decoration: none;
}

#subscribe {
  background-color: white;
  color: #f72210;
  border: none;
  font-weight: bolder;
  font-size: 14pt;
  height: 26px;
}

/* MAIN for Now */

main {
  margin-top: 50px;
  margin-bottom: 50px;
  border: 1px solid purple;
  height: 200px;
  width: 100%;
  background-color: #9c7c7955;
}

/* FOOTER */

/* TOP PART OF FOOTER */
#topPart,
#bottomPart {
  width: 98%;
  margin: auto;
}

#topPart {
  margin-bottom: 12px;
  border-bottom: 1px solid #d9d9d9;
}

#logoCr {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  color: #666;
  text-transform: uppercase;
  align-items: baseline;
  padding-left: 0;
}

#logoCr img {
  padding-right: 15px;
}

#socialIcons {
  display: flex;
  align-items: center;
  padding-right: 0;
  padding-left: 0;
  margin-bottom: 12px;
}

#socialIcons a {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-position: center;
  padding-right: 30px;
}

#socialIcons a:hover {
  background-position: center;
}

#socialIcons a:first-child {
  background-image: url("../images/fbGrey.PNG");
}

#socialIcons a:nth-child(2) {
  background-image: url("../images/twitterGray.PNG");
}

#socialIcons a:nth-child(3) {
  background-image: url("../images/igGray.PNG");
}

#socialIcons a:nth-child(4) {
  background-image: url("../images/tumblerGray.PNG");
}

#socialIcons a:last-child {
  background-image: url("../images/linkedinGray.PNG");
}

#socialIcons a:first-child:hover {
  background-image: url("../images/fbBlue.PNG");
}

#socialIcons a:nth-child(2):hover {
  background-image: url("../images/twitterBlue.PNG");
}

#socialIcons a:nth-child(3):hover {
  background-image: url("../images/igBlue.PNG");
}

#socialIcons a:nth-child(4):hover {
  background-image: url("../images/tumblerBlue.PNG");
}

#socialIcons a:last-child:hover {
  background-image: url("../images/linkedinBlue.PNG");
}

/* BOTTOM PART OF FOOTER */

#aboutUs {
  padding-left: 0;
}

#editions {
  padding-right: 0;
  padding-left: 0;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
  list-style-type: none;
  padding-left: 0;
}

#editions li:first-child {
  border-right: none;
  font-weight: bold;
  color: #666;
}

.menu li {
  border-right: 1px solid #d9d9d9;;
  padding-right: 10px;
  padding-left: 10px;
}

.menu li a {
  font-weight: normal;
  color: #666;
  line-height: 30px;
  font-size: 14px;
}

.menu li a:hover {
  color: black;
  text-decoration: none;
}

/* MEDIUM VIEW */
@media only screen and (min-width: 767px) and (max-width: 991px) {
  /* FOOTER */
  /* TOP PART */
  #logoCr {
    display: flex;
    flex-direction: row;
  }

  #socialIcons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 0px;
  }
}

/* LARGE VIEW */

@media only screen and (min-width: 992px) {
  /* NAV */

  header {
    width: 100%;
    height: 100px;
    padding: 15px 10px 15px 10px;
  }

  #date {
    position: static;
    visibility: visible;
    margin-top: 27px;
    height: 34px;
    align-items: center;
  }

  #signIn,
  #subscribe {
    margin-top: 27px;
    height: 26px;
    align-items: flex-start;
  }

  #headerLogo {
    margin-top: -7px;
    height: 72px;
  }

  #topLogo {
    width: 100%;
    height: 100%;
  }

  #whiteNavPart {
    display: flex;
    flex-direction: row;
    height: 56px;
    background-color: white;
    padding: 0;
    margin-top: 10px;
  }

  #whiteNavLinks {
    justify-content: space-around;
    align-items: center;
    padding: 0;
    overflow: hidden;
  }

  #exceptHere {
    border-left: none;
    margin-right: 0;
  }

  .topLi {
    display: flex;
    height: 24px;
    color: black;
    font-weight: bold;
    font-size: 21px;
    border-left: 1px solid #d9d9d9;
    padding: 0 8px;
  }

  .topLi:hover {
    text-decoration: none;
    color: #f72210;
  }

  #searchIt {
    width: 75px;
    height: 54px;
    border: none;
    font-family: inherit;
    font-weight: normal;
    font-size: 18px;
    background-image: url("../images/searchIcon.png");
    background-repeat: no-repeat;
    background-position: right;
  }

  #littleRedBox {
    width: 75px;
    height: 20px;
    background-color: #f72210;
    -moz-transform: skew(46deg, 0deg);
    -webkit-transform: skew(46deg, 0deg);
    -o-transform: skew(46deg, 0deg);
    -ms-transform: skew(46deg, 0deg);
    transform: skew(46deg, 0deg);
    position: relative;
    top: -28px;
    left: 27px;
  }

  #burguer {
    position: absolute;
    visibility: hidden;
  }

  /* FOOTER */

  /* FOOTER TOP PART */
  #logoCr {
    display: flex;
    flex-direction: row;
  }

  #socialIcons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 0px;
  }
}