header {
  background-color: #f72210;
  padding: 20px 10px 15px 10px;
  margin-right: 0;
  margin-left: 0;
  font-family: 'Roboto Condensed', sans-serif;
}


.header-top {
  margin-top: 35px;
}

#date {
  font-weight: 400;
  font-size: 16px;
  margin-left: 20px;
}

.brand img {
  width: 390px;
  height: 60px;
  margin: 10px auto 0;
}

header .lk-2,
.lk-3 {
  font-weight: bolder;
  font-size: 14pt;
}

header .lk-3 {
  background-color: white;
  color: #f72210;
}

